*{
    background-image: url("../Dairy-business/images/milk2.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-color:darkslategray;

}
#homepage{
    color:rgb(245, 248, 242);
    display: flex;
    background-color: rgb(8, 75, 2);
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    transition: width 2s;
    border-bottom: 1px solid white;
    
}
a{
    color:white;
}
a:hover{
    text-decoration: overline;
}
h2{
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    margin: 30px;
    margin-left: 130px;
    color: white;

}


#form{
    display: flex;
    justify-content: space-around;
    flex-direction:column ;
    margin-left:50px;
    background-color: rgb(10, 80, 1);
    color: white;
    text-decoration: none;
    margin-left: 100px;
    width: 40%;

}
input{
    width: 40%;
    padding: 5px 15px;
    margin: 0px 100px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 100px;
    color: white;
  }
  #buttons{
      display:flex;
      justify-content:space-between;
      /* padding: 30px; */
      flex-direction: row;
      align-items: flex-start;
      margin-right: 300px;
      margin-left: 100px;
      border: 2px solid white;
      width: 50%;
      overflow: auto;
      color: white;
  }
